.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
  }
  .fadeInUp {
    opacity: 0;
    transform: translateY(20px);
    animation-delay: 800ms;
    animation: fadeInUp 1s forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }